In [1]:
import pandas as pd

In [2]:
person = {
    "first" : "Ujjwal",
    "last" :  "Pandey",
    "email" : "ujjwalpandey@gmail.com"
}

In [3]:
people = {
    "first" : ["Ujjwal", "Jane", "John"],
    "last" : ["Pandey", "Doe", "Doe"],
    "email" : ["ujjwalpandey@gmail.com", "JaneDoe@gmail.com", "JohnDoe@email.com"]
}

In [4]:
df = pd.DataFrame(people)

In [5]:
df

    first    last                   email
0  Ujjwal  Pandey  ujjwalpandey@gmail.com
1    Jane     Doe       JaneDoe@gmail.com
2    John     Doe       JohnDoe@email.com

In [6]:
df["email"]

0    ujjwalpandey@gmail.com
1         JaneDoe@gmail.com
2         JohnDoe@email.com
Name: email, dtype: object

In [7]:
df.email

0    ujjwalpandey@gmail.com
1         JaneDoe@gmail.com
2         JohnDoe@email.com
Name: email, dtype: object

In [8]:
df[["email", "first"]]

                    email   first
0  ujjwalpandey@gmail.com  Ujjwal
1       JaneDoe@gmail.com    Jane
2       JohnDoe@email.com    John

In [9]:
df.iloc[0]

first                    Ujjwal
last                     Pandey
email    ujjwalpandey@gmail.com
Name: 0, dtype: object

In [11]:
df.iloc[[0, 1]]

    first    last                   email
0  Ujjwal  Pandey  ujjwalpandey@gmail.com
1    Jane     Doe       JaneDoe@gmail.com